body {
	background: bisque;
}

h1 {
	text-align: center;
}
.tabel {
	
	height: 690px;
	width: 800px;
	margin: 50px;
	position: fixed;
	top: 50%;
	left: 45%;
	transform: translate(-50%, -50%);
	border: 3px solid black;
	background: burlywood;
}

.tbody {
	height: 120px;

	background: rosybrown;
}
#messageList {
	height: 500px;
	background: white;
	margin-top: 20px;
	border-radius: 10px;
	margin-bottom: 20px;

}

.input-area {
	margin-top: -70px;
	display: flex;
	justify-content: center;
	align-items: center;
}
button {
	background: #667eea;
	color: white;
	cursor: pointer;
	width: 70px;
	height: 40px;
}